#landing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 90vh;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  background-color: white; /* Assuming the background color of the div */
}

#landing::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: white; /* Assuming the background color of the body */
  border-radius: 60px; /* Adjust the border-radius as needed */
  z-index: 2; /* Ensure it appears above the landing div */
}

/* Ensure the body and html take up the full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  position: relative;
  top: 90vh;
  z-index: 2;
  width: 100%;
  padding: 20px;
}
